.header-list-account {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.093px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.footer-result-search {
    padding: 15px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 600;
    color: rgb(22, 24, 35);
}
