:root {
    --width-search-btn: 52px;
}

.wrapper {
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    height: var(--deafaut-layout-height);
}

.inner {
    height: 100%;
    padding: 0 24px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    min-width: 300px;

    img {
        width: 118px;
        height: 42px;
        cursor: pointer;
    }
}

//action

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button,
    a {
        min-width: 96px;
        padding: 0 8px;
        height: 36px;
        font-weight: 550;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.03px;
        border-radius: 4px;
    }

    .upload {
        padding: 0 16px;
    }

    button:hover {
        cursor: pointer;
    }

    .icon {
        position: relative;
        font-size: 20px;
        padding: 3px 3px 0;
        margin-left: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .inbox::before {
        content: '12';
        position: absolute;
        left: 60%;
        top: -2px;
        width: 25px;
        height: 20px;
        background: rgb(254, 44, 85);
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: rgb(255, 255, 255);
        font-weight: 600;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .avatar {
        margin-left: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.icon-plus {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.more {
    margin-left: 16px;
    width: 28px;
    padding: 0 4px;
    cursor: pointer;

    svg {
        height: 20px;
    }
}

.menu-list {
    margin-top: 8px;
}
